@keyframes tonext {
  75% {
    left: 0;
  }

  95% {
    left: 100%;
  }

  98% {
    left: 100%;
  }

  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }

  95% {
    left: -300%;
  }

  98% {
    left: -300%;
  }

  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }

  97% {
    scroll-snap-align: none;
  }

  99% {
    scroll-snap-align: none;
  }

  100% {
    scroll-snap-align: center;
  }
}

body {
  margin-top: 0;
  margin-bottom: 0 !important;
  margin-left: 0;
  margin-right: 0;
}

header,
footer {
  /* height: 3svh; */
  position: absolute;
  z-index: 2;
  padding: 0.5rem;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  backdrop-filter: blur(10px);
  width: 100%;
  color: black;
}

header {
  backdrop-filter: blur(10px);
  border-bottom: 0.1rem black solid;
}

header a {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: black;
  text-decoration: none
}

header img {
  width: 2rem;
  aspect-ratio: 1 / 1;
}

footer {
  right: 0;
  left: 0;
  bottom: 0vh;
  font-size: 1rem;
  border-top: 0.1rem black solid;
}

h1 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 17svw;
  color: white;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  /* padding: ; */
  height: 100svh;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
  display: grid;
  align-items: flex-start;
  flex-direction: row;
  background-size: cover;
  background-position: center;
}

#carousel__slide1 {
  background-image: url("../assets/images/la-so-vk4vjTNVrTg-unsplash.jpg");
}


#carousel__slide2 {
  background-image: url("../assets/images/claudio-hirschberger-HI5c2A-LOqs-unsplash.jpg");
}

#carousel__slide3 {
  background-image: url("../assets/images/david-kohler-VFRTXGw1VjU-unsplash.jpg");
}



.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* scroll-snap-align: center; */
}

/* @media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
} */

/* @media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
} */

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 4rem;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  backdrop-filter: blur(10px);
  border: 0.1rem black solid;
  /* backdrop-filter: blur(2px); */
  background-clip: content-box;
  /* border: 0.1rem solid black; */
  border-radius: 50%;
  font-size: 0;
  /* transition: transform 0.1s; */
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  /* top: 0; */
  margin-top: 80svh;
  width: 4rem;
  height: 4rem;
  /* transform: translateY(-50%); */
  border-radius: 50%;
  font-size: 0;
  /* outline: 0; */
}


.carousel::before,
.carousel__prev {
  left: 1rem;
}

.carousel::after,
.carousel__next {
  right: 1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  backdrop-filter: blur(10px);
  border: 0.1rem black solid;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("../assets/images/left-2-svgrepo-com.svg");
}

.carousel::after {
  background-image: url("../assets/images/right-2-svgrepo-com.svg");
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}